/*
  Custom styles for Trackster App
*/
html {
  font-size: 16px;
}

header {
  background-color: rgb(35, 2, 63);
  font-family: "Righteous", sans-serif;
  color: rgb(255, 0, 171);
  padding: 2rem 0rem;
  margin: 0;
}

.search_frame {
  background-color: white;
  border-radius: 9999px;
  color: rgb (191, 191, 191);
  padding: 0.5rem;
  text-align: center;
}

.search_input {
  font-family: "Work Sans", sans-serif;
  border: none;
  font-size: 1.15rem;
}

h1 {
  font-size: 2.5rem;
  padding: 0.5rem 0;
}

.search_button {
  background-color: rgb(255, 0, 171);
  color: rgb(35, 2, 63);
  padding: 0.5rem;
  border-radius: 9999px;
  text-align: center;
}

.search_button:hover {
  background-color: rgb(255, 0, 171);
}
